html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100%; /* Занимаем всю высоту */
    display: flex; /* Flexbox контейнер */
    flex-direction: column;
    justify-content: auto; /* Вертикальное центрирование */
}

header, .contact-form {
    flex: 0; /* Элементы занимают только необходимую высоту */
}

header {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 50px 0;
    background-color: #1e1e1e;
    height: 45px;
    border-style: dashed;
    border-color: #2c2c2c;
}

header h1 {
    color: #e77e22;
    font-family: TT Milks;
    margin: 0px;
    margin-top: -15px;
    font-size: 3em;
}

header p {
    color: #7c7a7a;
    font-family: TT Milks;
    margin: 0;
    margin-top: 5px;
    font-size: 1em;
}

.contact-form {
    width: 600px;
    max-height: 850px;
    margin: 0 auto;
    padding: 50px;
    background-color: #1e1e1e;
    border-radius: 30px;
    border-color: #2c2c2c;
    border-style: dashed;
}

.contact-form p {
    margin-top: 40px;
    margin-bottom: -40px;
    text-align: center;
}

.contact-form label {
    font-family: TT Milks;
    font-weight: bold;
    font-size: x-large;
    display: block;
    margin: 0 0 5px;
}

.contact-form input {
    max-width: 100%;
    min-width: 100%;
    padding: 10px;
    border-color: #e77e22;
    border-style: dashed;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #2c2c2c;
    color: #ffffff;
    font-family: TT Milks;
    font-size: large;
}

.contact-form textarea {
    max-width: 100%;
    min-width: 100%;
    max-height:550px;
    min-height: 21px;
    padding: 10px;
    border-color: #e77e22;
    border-style: dashed;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #2c2c2c;
    color: #ffffff;
    font-family: TT Milks;
    font-size: large;
}

.contact-form textarea + p {
    color: #ffffff;
    font-family: TT Milks;
    font-size: 1.1em;
    color: #8f8e8e;
    margin-top: -5px; /* Небольшой отступ сверху */
    margin-bottom: 20px; /* Отступ снизу */
    text-align: center;
}

.contact-form button {
    display: block;
    margin: 10px auto 0;
    margin-bottom: -30px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f39c12;
    color: #332c2c;
    font-size: 1em;
    font-weight: bold;
}

.contact-form button:hover {
    background-color: #e77e22;
}

footer {
    flex: 0;
    text-align: center;
    margin: auto 0 0;
    background-color: #1e1e1e;
    padding: 20px;
    height: auto;
}

footer p {
    margin: 10px 10px;
    font-family: TT Milks;
    font-size: x-large;
    color: #f39c12;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0px 10px 10px;
    font-size: 1.2em;
}

footer a:hover {
    color: #f39c12;
}